<div class="navbar" style="background-color: black;" role="navigation">
<div class="container-fluid"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <h3> <a class="navbar-brand" href="/"><span class="badge badge-success">Get The News!</span></a></h3>

      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
         
          <a class="nav-link" href="/"><button type="button" class="btn btn-primary">Home </button><span class="sr-only">(current)</span></a>
      
      
          <a class="nav-link" href="/{{'categories/Business'}}"><button type="button" class="btn btn-primary">Business</button></a>
          
          <a class="nav-link" href="/{{'categories/Technology'}}"><button type="button" class="btn btn-primary">Technology</button></a>
          
          
          <a class="nav-link" href="/{{'categories/Science'}}"><button type="button" class="btn btn-primary">Science</button></a>
          
          
          <a class="nav-link" href="/{{'categories/Sports'}}"><button type="button" class="btn btn-primary">Sports</button></a>
          
          
          <a class="nav-link" href="/{{'categories/Entertainment'}}"><button type="button" class="btn btn-primary">Entertainment</button></a>
        </ul>
        <span class="navbar-text" style="margin-left: 93%;">
        ©News Api
        </span>
      </div>
  </nav>
</div>